@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: url("../img/movies/bg-my-bio.jpeg");
  align-items: center;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.logo {
  font-size: 24px;
  text-decoration: none;
}

a.logo i {
  margin-left: 10px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}
h2 {
  font-size: 32px;
  color: #f4f4f4;
  margin-bottom: 20px;
  text-align: center;
}

.gambar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gambar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
  object-fit: cover;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #f4f4f4;
}

@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}
